<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571772076597-o4pit7s36qilcn9h6aurgengtiahu501.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571772076597-o4pit7s36qilcn9h6aurgengtiahu501</string>
	<key>API_KEY</key>
	<string>AIzaSyDPG_HTdIdIINyLdJCg1Bv8JRbzDt2D0XU</string>
	<key>GCM_SENDER_ID</key>
	<string>571772076597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nightKitchen</string>
	<key>PROJECT_ID</key>
	<string>nightkitchen-52a17</string>
	<key>STORAGE_BUCKET</key>
	<string>nightkitchen-52a17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571772076597:ios:02e1f3ebaaf45865f4a77c</string>
</dict>
</plist>